# Import Libraries

In [1]:
import os
import json
import pandas as pd
import mysql.connector
import sqlalchemy
from sqlalchemy import create_engine
import pymysql

# AGGREGATED_TRANSACTION

In [2]:


#read from aggreated transaction path
path_at="C:/Users/HARITH.M.K/Desktop/data/aggregated/transaction/country/india/state/"

Agg_trans_list=os.listdir(path_at)

#data processing to dictionary

Agg_trans={'State':[], 'Year':[],'Quater':[],'trans_type':[], 'trans_count':[], 'trans_amount':[]}
for i in Agg_trans_list:
    p_i=path_at+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              Agg_trans['trans_type'].append(name)
              Agg_trans['trans_count'].append(count)
              Agg_trans['trans_amount'].append(amount)
              Agg_trans['State'].append(i)
              Agg_trans['Year'].append(j)
              Agg_trans['Quater'].append(int(k.strip('.json')))
#data frame
Agg_Trans_Df=pd.DataFrame(Agg_trans)

#Agg_Trans_Df.to_csv('aggregated_transaction',index=False)

# AGGREGATED_USER

In [3]:

path_au="C:/Users/HARITH.M.K/Desktop/data/aggregated/user/country/india/state/"

Agg_user_list = os.listdir(path_au)


#data processing to dict
Agg_user ={'State': [], 'Year': [], 'Quater': [], 'brands': [], 'Count': [],'Percentage': []}
for i in Agg_user_list:
    p_i = path_au + i + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            Data = open(p_k, 'r')
            B = json.load(Data)
            try:
                for w in B["data"]["usersByDevice"]:
                    brand_name = w["brand"]
                    count_ = w["count"]
                    ALL_percentage = w["percentage"]
                    Agg_user["brands"].append(brand_name)
                    Agg_user["Count"].append(count_)
                    Agg_user["Percentage"].append(ALL_percentage)
                    Agg_user["State"].append(i)
                    Agg_user["Year"].append(j)
                    Agg_user["Quater"].append(int(k.strip('.json')))
            except:
                continue

#data frame
Agg_user_df = pd.DataFrame(Agg_user)

#Agg_user_df.to_csv('aggregated_user',index=False)

# MAP_TRANSACTION

In [4]:


#read from path
path_mt="C:/Users/HARITH.M.K/Desktop/data/map/transaction/hover/country/india/state/"


mt_list = os.listdir(path_mt)

Map_trans = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'count': [],
        'amount': []}

for i in mt_list:
    p_i = path_mt + i + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            Data = open(p_k, 'r')
            C = json.load(Data)
            for x in C["data"]["hoverDataList"]:
                District = x["name"]
                count = x["metric"][0]["count"]
                amount = x["metric"][0]["amount"]
                Map_trans["District"].append(District)
                Map_trans["count"].append(count)
                Map_trans["amount"].append(amount)
                Map_trans['State'].append(i)
                Map_trans['Year'].append(j)
                Map_trans['Quater'].append(int(k.strip('.json')))

#data frame
map_trans_df = pd.DataFrame(Map_trans)

#df_map_transaction.to_csv('map_transaction',index=False)

# MAP_USER

In [5]:


#read from path
path_mu="C:/Users/HARITH.M.K/Desktop/data/map/user/hover/country/india/state/"

map_user_list = os.listdir(path_mu)

#process data into dict
map_user = {"State": [], "Year": [], "Quater": [], "District": [],
        "RegisteredUser": []}

for i in map_user_list:
    p_i = path_mu + i + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            Data = open(p_k, 'r')
            D = json.load(Data)
            for u in D["data"]["hoverData"].items():
                district = u[0]
                registereduser = u[1]["registeredUsers"]
                map_user["District"].append(district)
                map_user["RegisteredUser"].append(registereduser)
                map_user['State'].append(i)
                map_user['Year'].append(j)
                map_user['Quater'].append(int(k.strip('.json')))

#data frame
map_user_df = pd.DataFrame(map_user)

#df_map_user.to_csv('map_user',index=False)

# TOP _TRANSACTION

In [6]:


#read from path
path_ta="C:/Users/HARITH.M.K/Desktop/data/top/transaction/country/india/state/"

top_agg_list = os.listdir(path_ta)

#process data into dict
top_trans = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'Trans_count': [],
        'Trans_amount': []}
for i in top_agg_list:
    p_i = path_ta + i + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            Data = open(p_k, 'r')
            E = json.load(Data)
            for z in E['data']['pincodes']:
                Name = z['entityName']
                count = z['metric']['count']
                amount = z['metric']['amount']
                top_trans['District'].append(Name)
                top_trans['Trans_count'].append(count)
                top_trans['Trans_amount'].append(amount)
                top_trans['State'].append(i)
                top_trans['Year'].append(j)
                top_trans['Quater'].append(int(k.strip('.json')))


top_trans_df = pd.DataFrame(top_trans)


#df_top_transaction.to_csv('top_transaction',index=False)

# TOP_USER

In [7]:


#read from path
path_tu="C:/Users/HARITH.M.K/Desktop/data/top/user/country/india/state/"

top_user_list = os.listdir(path_tu)

#data processing into dict
top_user = {'State': [], 'Year': [], 'Quater': [], 'District': [],
        'RegisteredUser': []}
for i in top_user_list:
    p_i = path_tu + i + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            Data = open(p_k, 'r')
            F = json.load(Data)
            for t in F['data']['pincodes']:
                Name = t['name']
                registeredUser = t['registeredUsers']
                top_user['District'].append(Name)
                top_user['RegisteredUser'].append(registeredUser)
                top_user['State'].append(i)
                top_user['Year'].append(j)
                top_user['Quater'].append(int(k.strip('.json')))

#data frame
top_user_df = pd.DataFrame(top_user)

#df_top_user.to_csv('top_user',index=False)

# connect to sql

In [8]:
pip install mysql

Requirement already satisfied: mysql in c:\users\harith.m.k\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\harith.m.k\anaconda3\lib\site-packages (from mysql) (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
#connect to sql

conn = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    passwd='1234567890'
)

# Create DataBase in SQL

In [10]:
#create db in sql
mycursor = conn.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS phonepe")

1

In [11]:
engine = create_engine('mysql+mysqlconnector://root:1234567890@localhost/phonepe', echo=False)

In [12]:
Agg_Trans_Df.to_sql('aggregated_transaction', engine, if_exists = 'replace', index=False,   
                                 dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                                       'Year': sqlalchemy.types.Integer, 
                                       'Quarter': sqlalchemy.types.Integer, 
                                       'Transaction_type': sqlalchemy.types.VARCHAR(length=50), 
                                       'Transaction_count': sqlalchemy.types.Integer,
                                       'Transaction_amount': sqlalchemy.types.FLOAT(precision=5, asdecimal=True)})

3594

In [13]:
Agg_user_df.to_sql('aggregated_user', engine, if_exists = 'replace', index=False,
                          dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                                 'Year': sqlalchemy.types.Integer, 
                                 'Quarter': sqlalchemy.types.Integer,
                                 'Brands': sqlalchemy.types.VARCHAR(length=50), 
                                 'User_Count': sqlalchemy.types.Integer, 
                                 'User_Percentage': sqlalchemy.types.FLOAT(precision=5, asdecimal=True)})

6732

In [14]:
map_trans_df.to_sql('map_transaction', engine, if_exists = 'replace', index=False,
                          dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                                 'Year': sqlalchemy.types.Integer, 
                                 'Quarter': sqlalchemy.types.Integer, 
                                 'District': sqlalchemy.types.VARCHAR(length=50), 
                                 'Transaction_Count': sqlalchemy.types.Integer, 
                                 'Transaction_Amount': sqlalchemy.types.FLOAT(precision=5, asdecimal=True)})

14636

In [15]:
map_user_df.to_sql('map_user', engine, if_exists = 'replace', index=False,
                   dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                          'Year': sqlalchemy.types.Integer, 
                          'Quarter': sqlalchemy.types.Integer, 
                          'District': sqlalchemy.types.VARCHAR(length=50), 
                          'Registered_User': sqlalchemy.types.Integer, })

14640

In [16]:
top_trans_df.to_sql('top_transaction', engine, if_exists = 'replace', index=False,
                         dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                                'Year': sqlalchemy.types.Integer, 
                                'Quarter': sqlalchemy.types.Integer,   
                                'District_Pincode': sqlalchemy.types.Integer,
                                'Transaction_count': sqlalchemy.types.Integer, 
                                'Transaction_amount': sqlalchemy.types.FLOAT(precision=5, asdecimal=True)})

7139

In [17]:
top_user_df.to_sql('top_user', engine, if_exists = 'replace', index=False,
                   dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                          'Year': sqlalchemy.types.Integer, 
                          'Quarter': sqlalchemy.types.Integer,                           
                          'District_Pincode': sqlalchemy.types.Integer, 
                          'Registered_User': sqlalchemy.types.Integer,})

7140

# USING STREAMLIT

In [30]:
%%writefile app.py

import requests
import subprocess

import pandas as pd
import numpy as np
import os
import json

import mysql.connector
import sqlalchemy
from sqlalchemy import create_engine
import pymysql

import streamlit as st
import plotly.express as px


#connect to sql database
conn = pymysql.connect(host='localhost', user='root', password='1234567890', db='phonepe')
cursor = conn.cursor()


#streamlit
st.set_page_config(layout='wide')

#heading
st.header('Phonepe Pulse Data Visualization')


# Radio button with different options
option = st.radio('Select any of the radio button for respective data visualization',('Top Ten Transaction','Top Ten User','State wise Transaction Data','State wise User Data','India Transaction Data','India User Data'))

if option == 'India Transaction Data':

        col1, col2, col3 = st.columns(3)
        with col1:
            trans_year_ind = st.selectbox('Year', ('2018','2019','2020','2021','2022'),key='trans_year_ind')
        with col2:
            trans_quarter_ind = st.selectbox('Quarter', ('1','2','3','4'),key='trans_quarter_ind')
        with col3:
            trans_type_ind= st.selectbox('Transaction Type', ('Recharge & bill payments','Peer-to-peer payments',
            'Merchant payments','Financial Services','Others'),key='trans_type_ind')
            
        # Transaction Analysis bar chart query
        cursor.execute(f"SELECT State, trans_amount FROM aggregated_transaction WHERE Year = '{trans_year_ind}' AND Quater = '{trans_quarter_ind}' AND trans_type = '{trans_type_ind}';")
        trans_res_ind = cursor.fetchall()
        trans_res_ind_df = pd.DataFrame(np.array(trans_res_ind ), columns=['State', 'trans_amount'])
        trans_res2_ind_df = trans_res_ind_df.set_index(pd.Index(range(1, len(trans_res_ind_df)+1)))
    
        
        # Transaction Analysis table query
        cursor.execute(f"SELECT State, trans_count, trans_amount FROM aggregated_transaction WHERE Year = '{trans_year_ind}' AND Quater = '{trans_quarter_ind}' AND trans_type = '{trans_type_ind}';")
        trans_res_ana_ind = cursor.fetchall()
        trans_res_ana_ind_df = pd.DataFrame(np.array(trans_res_ana_ind), columns=['State','trans_count','trans_amount'])
        trans_res2_ana_ind_df = trans_res_ana_ind_df.set_index(pd.Index(range(1, len(trans_res_ana_ind_df)+1)))

        # Total Transaction Amount table query
        cursor.execute(f"SELECT SUM(trans_amount), AVG(trans_amount) FROM aggregated_transaction WHERE Year = '{trans_year_ind}' AND Quater = '{trans_quarter_ind}' AND trans_type = '{trans_type_ind}';")
        trans_res_amount_ind = cursor.fetchall()
        trans_res_amount_ind_df = pd.DataFrame(np.array(trans_res_amount_ind), columns=['Total','Average'])
        trans_res2_amount_ind_df = trans_res_amount_ind_df.set_index(['Average'])
        
        # Total Transaction Count table query
        cursor.execute(f"SELECT SUM(trans_count), AVG(trans_count) FROM aggregated_transaction WHERE Year = '{trans_year_ind}' AND Quater = '{trans_quarter_ind}' AND trans_type = '{trans_type_ind}';")
        trans_res_count_ind= cursor.fetchall()
        trans_res_count_ind_df = pd.DataFrame(np.array(trans_res_count_ind), columns=['Total','Average'])
        trans_res_count2_ind = trans_res_count_ind_df.set_index(['Average'])

        
        #visualization for Transaction
        # Drop a State column 
        trans_res_ind_df.drop(columns=['State'], inplace=True)
        # Clone the gio data
        url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
        response = requests.get(url)
        data1 = json.loads(response.content)
        # Extract state names and sort them in alphabetical order
        state_names_tra = [feature['properties']['ST_NM'] for feature in data1['features']]
        state_names_tra.sort()
        # Create a DataFrame with the state names column
        df_state_names_tra = pd.DataFrame({'State': state_names_tra})
        # Combine the Gio State name 
        df_state_names_tra['trans_amount']=trans_res_ind_df
        # convert dataframe to csv file
        df_state_names_tra.to_csv('State_trans.csv', index=False)
        # Read csv
        df_tra = pd.read_csv('State_trans.csv')
        
         # Geo plot
        fig_tra = px.choropleth(
            df_tra,
            geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
            featureidkey='properties.ST_NM',locations='State',color='trans_amount',color_continuous_scale='thermal',title = 'Transaction Analysis')
        fig_tra.update_geos(fitbounds="locations", visible=False)
        fig_tra.update_layout(title_font=dict(size=33), height=800)
        st.plotly_chart(fig_tra,use_container_width=True)

        # All India Transaction Analysis Bar chart
        trans_res2_ind_df['State'] = trans_res2_ind_df['State'].astype(str)
        trans_res2_ind_df['trans_amount'] = trans_res2_ind_df['trans_amount'].astype(float)
        trans_res2_ind_df_fig= px.bar(trans_res2_ind_df , x = 'State', y ='trans_amount', color ='trans_amount', color_continuous_scale = 'thermal', title = 'Transaction Analysis Chart', height = 700,)
        trans_res2_ind_df_fig.update_layout(title_font=dict(size=33))
        st.plotly_chart(trans_res2_ind_df_fig,use_container_width=True)

        # All India Total Transaction calculation Table
        st.header('Total calculation')

        
        col4, col5 = st.columns(2)
        
        with col4:
            st.subheader('Transaction Analysis')
            st.dataframe(trans_res2_ana_ind_df)
        with col5:
            st.subheader('Transaction Amount')
            st.dataframe(trans_res2_amount_ind_df)
            st.subheader('Transaction Count')
            st.dataframe(trans_res_count2_ind)

elif option == 'India User Data':
        
        col1, col2 = st.columns(2)
        with col1:
            user_year_ind = st.selectbox('Year', ('2018','2019','2020','2021','2022'),key='user_year_ind')
        with col2:
            user_quarter_ind = st.selectbox('Quarter', ('1','2','3','4'),key='user_quarter_ind')
            

        # User Analysis Bar chart query
        cursor.execute(f"SELECT State, SUM(Count) FROM aggregated_user WHERE Year = '{user_year_ind}' AND Quater = '{user_quarter_ind}' GROUP BY State;")
        user_res_ind = cursor.fetchall()
        user_res_ind_df = pd.DataFrame(np.array(user_res_ind), columns=['State', 'Count'])
        user_res2_ind_df = user_res_ind_df.set_index(pd.Index(range(1, len(user_res_ind_df)+1)))
        
         # Total User Count table query
        cursor.execute(f"SELECT SUM(Count), AVG(Count) FROM aggregated_user WHERE Year = '{user_year_ind}' AND Quater = '{user_quarter_ind}';")
        user_res_count_ind= cursor.fetchall()
        user_res_count_ind_df = pd.DataFrame(np.array(user_res_count_ind), columns=['Total','Average'])
        user_res2_count_ind_df = user_res_count_ind_df.set_index(['Average'])


        
        #visualization for User
        # Drop a State column 
        user_res_ind_df.drop(columns=['State'], inplace=True)
        # Clone the gio data
        url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
        response = requests.get(url)
        data2 = json.loads(response.content)
        # Extract state names and sort them in alphabetical order
        state_names_use = [feature['properties']['ST_NM'] for feature in data2['features']]
        state_names_use.sort()
        # Create a DataFrame with the state names column
        df_state_names_use = pd.DataFrame({'State': state_names_use})
        # Combine the Gio State name with df_in_tr_tab_qry_rslt
        df_state_names_use['Count']=user_res_ind_df
        # convert dataframe to csv file
        df_state_names_use.to_csv('State_user.csv', index=False)
        # Read csv
        df_use = pd.read_csv('State_user.csv')
        # Geo plot
        fig_use = px.choropleth(
            df_use,
            geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
            featureidkey='properties.ST_NM',locations='State',color='Count',color_continuous_scale='thermal',title = 'User Analysis')
        fig_use.update_geos(fitbounds="locations", visible=False)
        fig_use.update_layout(title_font=dict(size=33), height=800)
        st.plotly_chart(fig_use,use_container_width=True)

        # All India User Analysis Bar chart
        user_res2_ind_df['State'] = user_res2_ind_df['State'].astype(str)
        user_res2_ind_df['Count'] = user_res2_ind_df['Count'].astype(int)
        user_res2_ind_df_fig = px.bar(user_res2_ind_df , x = 'State', y ='Count', color ='Count', color_continuous_scale = 'thermal', title = 'User Analysis Chart', height = 700,)
        user_res2_ind_df_fig.update_layout(title_font=dict(size=33))
        st.plotly_chart(user_res2_ind_df_fig,use_container_width=True)
   

        # All India Total User calculation Table
        st.header('Total calculation')

        col3, col4 = st.columns(2)
        with col3:
            st.subheader('User Analysis')
            st.dataframe(user_res2_ind_df)
        with col4:
            st.subheader('User Count')
            st.dataframe(user_res2_count_ind_df)
            
elif option=='State wise Transaction Data':

        col1, col2,col3 = st.columns(3)
        with col1:
            state_list = st.selectbox('State',('andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachalpradesh','assam', 'bihar', 
            'chandigarh', 'chhattisgarh','dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachal-pradesh', 
            'jammu-&-kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh','maharashtra', 'manipur', 
            'meghalaya', 'mizoram', 'nagaland','odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil-nadu', 'telangana', 
            'tripura', 'uttar-pradesh', 'uttarakhand', 'west-bengal'),key='state_list')
        with col2:
            state_year = st.selectbox('Year', ('2018','2019','2020','2021','2022'),key='state_year')
        with col3:
            state_quarter = st.selectbox('Quarter', ('1','2','3','4'),key='state_quarter')
            
        # SQL Query

        # Transaction Analysis bar chart query
        cursor.execute(f"SELECT Trans_type, Trans_amount FROM aggregated_transaction WHERE State = '{state_list}' AND Year = '{state_year}' AND Quater = '{state_quarter}';")
        state_trans_bar_res = cursor.fetchall()
        state_trans_bar_res_df = pd.DataFrame(np.array(state_trans_bar_res), columns=['Trans_type', 'Trans_amount'])
        state_trans_bar_res2_df = state_trans_bar_res_df.set_index(pd.Index(range(1, len(state_trans_bar_res_df)+1)))

        # Transaction Analysis table query
        cursor.execute(f"SELECT Trans_type, Trans_count, Trans_amount FROM aggregated_transaction WHERE State = '{state_list}' AND Year = '{state_year}' AND Quater = '{state_quarter}';")
        state_trans_ana_res= cursor.fetchall()
        state_trans_ana_res_df = pd.DataFrame(np.array(state_trans_ana_res), columns=['Trans_type','Trans_count','Trans_amount'])
        state_trans_ana_res2_df = state_trans_ana_res_df.set_index(pd.Index(range(1, len(state_trans_ana_res_df)+1)))

        # Total Transaction Amount table query
        cursor.execute(f"SELECT SUM(Trans_amount), AVG(Trans_amount) FROM aggregated_transaction WHERE State = '{state_list}' AND Year = '{state_year}' AND Quater = '{state_quarter}';")
        state_trans_amount_res = cursor.fetchall()
        state_trans_amount_res_df = pd.DataFrame(np.array(state_trans_amount_res), columns=['Total','Average'])
        state_trans_amount_res2_df = state_trans_amount_res_df.set_index(['Average'])
        
        # Total Transaction Count table query
        cursor.execute(f"SELECT SUM(Trans_count), AVG(Trans_count) FROM aggregated_transaction WHERE State = '{state_list}' AND Year ='{state_year}' AND Quater = '{state_quarter}';")
        state_trans_amount_res = cursor.fetchall()
        state_trans_amount_res_df = pd.DataFrame(np.array(state_trans_amount_res), columns=['Total','Average'])
        state_trans_amount_res2_df = state_trans_amount_res_df.set_index(['Average'])


        # State wise Transaction Analysis bar chart
        state_trans_ana_res2_df['Trans_type'] = state_trans_ana_res2_df['Trans_type'].astype(str)
        state_trans_ana_res2_df['Trans_amount'] = state_trans_ana_res2_df['Trans_amount'].astype(float)
        state_trans_ana_res2_df_fig = px.bar(state_trans_ana_res2_df , x = 'Trans_type', y ='Trans_amount', color ='Trans_amount', color_continuous_scale = 'thermal', title = 'Transaction Analysis Chart', height = 500,)
        state_trans_ana_res2_df_fig.update_layout(title_font=dict(size=33),title_font_color='#6739b7')
        st.plotly_chart(state_trans_ana_res2_df_fig,use_container_width=True)

        # State wise Total Transaction calculation Table 
        st.header('Total calculation')

        col4, col5 = st.columns(2)
        with col4:
            st.subheader('Transaction Analysis')
            st.dataframe(state_trans_ana_res2_df)
        with col5:
            st.subheader('Transaction Amount')
            st.dataframe(state_trans_amount_res2_df)
            st.subheader('Transaction Count')
            st.dataframe(state_trans_amount_res2_df)

elif option=='State wise User Data':
        
        col5, col6 = st.columns(2)
        with col5:
            state_user_list = st.selectbox('State',('andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh','assam', 'bihar', 
            'chandigarh', 'chhattisgarh','dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat', 'haryana', 'himachal-pradesh', 
            'jammu-&-kashmir', 'jharkhand', 'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh','maharashtra', 'manipur', 
            'meghalaya', 'mizoram', 'nagaland','odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim', 'tamil-nadu', 'telangana', 
            'tripura', 'uttar-pradesh', 'uttarakhand', 'west-bengal'),key='state_user_list')
        with col6:
            state_user_year = st.selectbox('Year', ('2018','2019','2020','2021','2022'),key='state_user_year')

        # User Analysis Bar chart query
        cursor.execute(f"SELECT Quater, SUM(Count) FROM aggregated_user WHERE State = '{state_user_list}' AND Year = '{state_user_year}' GROUP BY Quater;")
        state_user_ana_res = cursor.fetchall()
        state_user_ana_res_df = pd.DataFrame(np.array(state_user_ana_res), columns=['Quater', 'Count'])
        state_user_ana_res2_df = state_user_ana_res_df.set_index(pd.Index(range(1, len(state_user_ana_res_df)+1)))

        # Total User Count table query
        cursor.execute(f"SELECT SUM(Count), AVG(Count) FROM aggregated_user WHERE State = '{state_user_list}' AND Year = '{state_user_year}';")
        state_user_count_res = cursor.fetchall()
        state_user_count_res_df = pd.DataFrame(np.array(state_user_count_res), columns=['Total','Average'])
        state_user_count_res2_df = state_user_count_res_df.set_index(['Average'])


        #All India User Analysis Bar chart
        state_user_ana_res2_df['Quater'] = state_user_ana_res2_df['Quater'].astype(int)
        state_user_ana_res2_df['Count'] = state_user_ana_res2_df['Count'].astype(int)
        state_user_ana_res2_df_fig = px.bar(state_user_ana_res2_df, x = 'Quater', y ='Count', color ='Count', color_continuous_scale = 'thermal', title = 'User Analysis Chart', height = 500,)
        state_user_ana_res2_df_fig.update_layout(title_font=dict(size=33))
        st.plotly_chart(state_user_ana_res2_df_fig,use_container_width=True)

        #State wise User Total User calculation Table
        st.header('Total calculation')

        col3, col4 = st.columns(2)
        with col3:
            st.subheader('User Analysis')
            st.dataframe(state_user_ana_res2_df)
        with col4:
            st.subheader('User Count')
            st.dataframe(state_user_count_res2_df)
            
elif option== 'Top Ten Transaction':

        top_trans_year = st.selectbox('Year', ('2018','2019','2020','2021','2022'),key='top_trans_year')

        # Top Transaction Analysis bar chart query
        cursor.execute(f"SELECT State, SUM(Trans_amount) As Trans_amount FROM top_transaction WHERE Year = '{top_trans_year}' GROUP BY State ORDER BY Trans_amount DESC LIMIT 10;")
        top_trans_ana_res = cursor.fetchall()
        top_trans_ana_res_df = pd.DataFrame(np.array(top_trans_ana_res), columns=['State', 'Top Transaction amount'])
        top_trans_ana_res2_df = top_trans_ana_res_df.set_index(pd.Index(range(1, len(top_trans_ana_res_df)+1)))

        # Top Transaction Analysis table query
        cursor.execute(f"SELECT State, SUM(Trans_amount) as Trans_amount, SUM(Trans_count) as Trans_count FROM top_transaction WHERE Year = '{top_trans_year}' GROUP BY State ORDER BY Trans_amount DESC LIMIT 10;")
        top_trans_tab_res = cursor.fetchall()
        top_trans_tab_res_df = pd.DataFrame(np.array(top_trans_tab_res), columns=['State', 'Top Transaction amount','Total Transaction count'])
        top_trans_tab_res2_df = top_trans_tab_res_df.set_index(pd.Index(range(1, len(top_trans_tab_res_df)+1)))

        # All India Transaction Analysis Bar chart
        top_trans_ana_res2_df['State'] = top_trans_ana_res2_df['State'].astype(str)
        top_trans_ana_res2_df['Top Transaction amount'] = top_trans_ana_res2_df['Top Transaction amount'].astype(float)
        top_trans_ana_res2_df_fig = px.bar(top_trans_ana_res2_df , x = 'State', y ='Top Transaction amount', color ='Top Transaction amount', color_continuous_scale = 'thermal', title = 'Top Transaction Analysis Chart', height = 600,)
        top_trans_ana_res2_df_fig.update_layout(title_font=dict(size=33))
        st.plotly_chart(top_trans_ana_res2_df_fig,use_container_width=True)

        #All India Total Transaction calculation Table
        st.header('Total calculation')
        st.subheader('Top Transaction Analysis')
        st.dataframe(top_trans_tab_res2_df)
        
#for Top Ten User Transaction
else:
        top_user_year = st.selectbox('Year', ('2018','2019','2020','2021','2022'),key='top_user_year')
        
        # Top User Analysis bar chart query
        cursor.execute(f"SELECT State, SUM(RegisteredUser) AS Top_user FROM top_user WHERE Year='{top_user_year}' GROUP BY State ORDER BY Top_user DESC LIMIT 10;")
        top_user_ana_res= cursor.fetchall()
        top_user_ana_res_df = pd.DataFrame(np.array(top_user_ana_res), columns=['State', 'Total User count'])
        top_user_ana_res2_df = top_user_ana_res_df.set_index(pd.Index(range(1, len(top_user_ana_res_df)+1)))

        
        #All India User Analysis Bar chart
        top_user_ana_res2_df['State'] = top_user_ana_res2_df['State'].astype(str)
        top_user_ana_res2_df['Total User count'] = top_user_ana_res2_df['Total User count'].astype(float)
        top_user_ana_res2_df_fig = px.bar(top_user_ana_res2_df , x = 'State', y ='Total User count', color ='Total User count', color_continuous_scale = 'thermal', title = 'Top User Analysis Chart', height = 600,)
        top_user_ana_res2_df_fig.update_layout(title_font=dict(size=33))
        st.plotly_chart(top_user_ana_res2_df_fig,use_container_width=True)

        #All India Total Transaction calculation Table
        st.header('Total calculation')
        st.subheader('Total User Analysis')
        st.dataframe(top_user_ana_res2_df)

Overwriting app.py

# Rum Streamlit

In [31]:
!streamlit run app.py

^C